<div class="horizontal-movies-list-container">
    <ngb-carousel *ngIf="movieItemSets && movieItemSets.length>0" interval="false" style="width: 100%;"
        [showNavigationIndicators]="!mobile">
        <ng-template ngbSlide *ngFor="let movieItemSet of movieItemSets;">
            <div class="row movie-items-row">
                <div *ngFor="let movieItem of movieItemSet;" class="col-xs-10 col-md-2 col-lg-2 col-sm-10 movie-item-div">
                    <div class="aspect-ratio aspect-ratio--9x16">
                        <div class="aspect-ratio--object">
                            <div class="carousel-caption">
                            </div>
                            <a href="watch/{{movieItem.category}}/{{movieItem.id}}" rel="nofollow noopener noreferrer">
                                <div class="zoom-parent" onclick="">
                                    <div class="zoom-child-placeholder">
                                        <div class="zoom-child" style="background-image: url({{movieItem.poster_path}});">
                                            <div class="font-l8 movie-item-title two-line-limited-content">{{movieItem.title}}</div>
                                            <div *ngIf="mobile" class="font-l8 movie-item-title-mobile">{{movieItem.title}}</div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                            </a>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>