<div>
    <div>
        <ngbd-carousel-pause             
            [imgItems]="carouselList">
        </ngbd-carousel-pause>
    </div>
    <div>
        <div>Continue Watching</div>
    </div>
    <div>
        <div>Popular Movies</div>
    </div>
    <div>
        <div>Top Rated Movies</div>
    </div>
    <div>
        <div>Treding Movies</div>
    </div>
    <div>
        <div>Popular TV Shows</div>
    </div>
    <div>
        <div>Top Rated TV Shows</div>
    </div>
    <div>
        <div>Treding TV Shows</div>
    </div>
</div>


<pre > {{(data)|json}} </pre>