<div style="padding-left:5%; width:95%">
    <div style="padding-left:5%; width:95%;">
        <ngbd-carousel-pause             
            [imgItems]="carouselList">
        </ngbd-carousel-pause>
    </div>
    <div *ngIf="continueWathcingList.length > 0">
        <div class="title font-l4" [class.mobile-padding]="mobile">Continue Watching</div>   
        <app-horizontal-movie-list
            [movieItemSets]="continueWathcingList">            
        </app-horizontal-movie-list>     
    </div>
    <div>
        <div class="title font-l4" [class.mobile-padding]="mobile">Popular Movies</div>
        <app-horizontal-movie-list
            [movieItemSets]="popularMovies">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title font-l4" [class.mobile-padding]="mobile">Top Rated Movies</div>
        <app-horizontal-movie-list
            [movieItemSets]="topRatedMovies">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title font-l4" [class.mobile-padding]="mobile">Trending Movies</div>
        <app-horizontal-movie-list
            [movieItemSets]="trendingMovies">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title font-l4" [class.mobile-padding]="mobile">Popular TV Shows</div>
        <app-horizontal-movie-list
            [movieItemSets]="popularTvs">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title font-l4" [class.mobile-padding]="mobile">Top Rated TV Shows</div>
        <app-horizontal-movie-list
            [movieItemSets]="topRatedTvs">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title font-l4" [class.mobile-padding]="mobile">Trending TV Shows</div>
        <app-horizontal-movie-list
            [movieItemSets]="trendingTvs">            
        </app-horizontal-movie-list>
    </div>
</div>

