<div style="padding-left:5%; width:90%">
    <div style="padding-left:10%; width:100%; padding-right:10%;">
        <ngbd-carousel-pause             
            [imgItems]="carouselList">
        </ngbd-carousel-pause>
    </div>
    <div *ngIf="continueWathcingList.length > 0">
        <div class="title">Continue Watching</div>   
        <app-horizontal-movie-list
            [movieItemSets]="continueWathcingList">            
        </app-horizontal-movie-list>     
    </div>
    <div>
        <div class="title">Popular Movies</div>
        <app-horizontal-movie-list
            [movieItemSets]="popularMovies">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title">Top Rated Movies</div>
        <app-horizontal-movie-list
            [movieItemSets]="topRatedMovies">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title">Trending Movies</div>
        <app-horizontal-movie-list
            [movieItemSets]="trendingMovies">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title">Popular TV Shows</div>
        <app-horizontal-movie-list
            [movieItemSets]="popularTvs">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title">Top Rated TV Shows</div>
        <app-horizontal-movie-list
            [movieItemSets]="topRatedTvs">            
        </app-horizontal-movie-list>
    </div>
    <div>
        <div class="title">Trending TV Shows</div>
        <app-horizontal-movie-list
            [movieItemSets]="trendingTvs">            
        </app-horizontal-movie-list>
    </div>
</div>

