.body{
    background-color: #050a30;
    color:white;
    height: 100%;
    min-height: 100vh;    
}

.nav-active{
    font-weight: bold;
}

.router-outlet-content{
    min-height: 89vh;
}

.scroll-bar-container{
    height: 94vh; 
    margin: 0; 
}
.customed-ngx-scrollbar{
    --scrollbar-wrapper-color: red;
    --scrollbar-border-radius: 7px;
    --scrollbar-size: 10px;
    --scrollbar-padding: 0px;
    --scrollbar-thumb-color: lightgrey;
}
.customed-ngx-scrollbar ::ng-deep .ng-scrollbar-track{
    border-radius: 1vh;
    background-image: linear-gradient(to bottom, rgb(220,220,220,0.3) , rgb(1,1,1,0)), 
                      linear-gradient(to left, rgb(220,220,220,0.3), rgb(1,1,1,0)), 
                      linear-gradient(to top, rgb(220,220,220,0.3) , rgb(1,1,1,0)), 
                      linear-gradient(to right, rgb(220,220,220,0.3), rgb(1,1,1,0));
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: top left, top right, bottom right, bottom left;
    background-repeat: no-repeat;
}
/* .customed-ngx-scrollbar ::ng-deep .scrollbar{     
      background-color: green;
      border-radius: 4px;
}
.customed-ngx-scrollbar ::ng-deep  .scrollbar-thumb {
      background-color: green;
} */

.footer{
    height: 5vh; 
    padding-top: 10px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1) 75%);
    text-align: center;
}
