<div class="body">    
    <nav class="navbar navbar-expand-lg navbar-light customed-navbar sticky-top"> 
    <!-- TODO: sticky top only applied in somebrowsers -->
    <a class="navbar-brand" [routerLink]="'.'">USC Films</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul id="topheader" class="nav">
            <li [ngClass]="{'nav-active': selectedTab=='home'}">
                <a class="nav-link" [routerLink]="'.'" (click)="navClick('home')">Home</a>
            </li>
            <li [ngClass]="{'nav-active': selectedTab=='mylist'}">
                <a class="nav-link" [routerLink]="'mylist'" (click)="navClick('mylist')">My List</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="'watch/tv/1'" (click)="isMenuCollapsed = true">Search</a>
            </li>
        </ul>
    </div>
</nav>     

<div class="router-outlet-content">
    <router-outlet></router-outlet>
</div>

<div class="footer">Powered by TMDB. Developed by Nguyen Cong Dat</div>
</div>