<div class="carousel-container" style="width:100%;">
    <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
        (slide)="onSlide($event)" [showNavigationIndicators]="!mobile">
        <ng-template ngbSlide *ngFor="let imgItem of imgItems; index as i">
            <div class="">
                <a href="watch/{{imgItem.category}}/{{imgItem.id}}" rel="nofollow noopener noreferrer">                
                    <div class="zoom-parent" onclick="">
                        <div class="zoom-child" 
                            style="background-image: url({{imgItem.backdrop_path}}), url('./../../../../assets/img/movie-placeholder.jpg');
                                    background-color: #cccccc;"
                        >                        
                            .
                        </div>
                        <div class="movie-item-title">{{imgItem.title}}</div>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>
</div>