<div *ngIf="data == null" >Waiting</div>
<div *ngIf="data != null && data.length == 0" >Invalid information</div>
<div *ngIf="data != null && data.length != 0" >
    <div class="header row">
        <div class="col-7">
            <div class="embed-responsive embed-responsive-16by9">
                <youtube-player videoId="{{data.youtube_video.key}}"></youtube-player>
            </div>
        </div>
        <div class="col-5">
            <h1>{{data.item_detail.title}}</h1>
            <p>{{data.item_detail.tagline}}</p>
            <p>{{data.item_detail.tagline}}</p>
            <p>{{data.item_detail.date|date:"yyyy"}} 
                | &#9733;{{data.item_detail.vote_average}} 
                | {{data.item_detail.runtime|timeHourMinute}}</p>
            <p>Genres: {{data.item_detail.genres}}</p>
            <p>Spoken languages: {{data.item_detail.spoken_language}}</p>
            <button type="button" class="btn btn-primary">Add to WatchList</button>
        </div>
    </div>
    <div class="description">
        <div>Description </div>
        {{data.item_detail.overview}}
    </div>
    <div class="Share">
        <div>Share </div>
        <div>
            <a class="share-button-twitter"
                href="https://twitter.com/intent/tweet?text={{twitterShareText}}"
                target="_blank"
                data-size="large">
                <img src="../../../assets/img/twitter-icon.png">
            </a>

            
            <a class="share-button-fb"
                href="https://www.facebook.com/sharer/sharer.php?u={{data.youtube_video.url}}" 
                target="_blank">
                <img src="../../../assets/img/facebook-icon.png">
            </a>
            
        </div>
    </div>
    <div class="casts">
        
    </div>
    <div class="reviews">
        
    </div>
    {{data|json}}
</div>
