<div *ngIf="data == null">Waiting</div>
<div *ngIf="data != null && data.length == 0">Invalid information</div>
<div *ngIf="data != null && data.length != 0">
    <div class="header row">
        <div class="col-7 mr-0 pr-0">
            <div class="embed-responsive embed-responsive-16by9">
                <youtube-player videoId="{{data.youtube_video.key}}"></youtube-player>
            </div>
        </div>
        <div class="col-5 mr-0 pr-0">
            <h1>{{data.item_detail.title}}</h1>
            <p>{{data.item_detail.tagline}}</p>
            <p>{{data.item_detail.tagline}}</p>
            <p>{{data.item_detail.date|date:"yyyy"}}
                | &#9733;{{data.item_detail.vote_average}}
                | {{data.item_detail.runtime|timeHourMinute}}</p>
            <p>Genres: {{data.item_detail.genres}}</p>
            <p>Spoken languages: {{data.item_detail.spoken_language}}</p>
            <button type="button" class="btn btn-primary">Add to WatchList</button>
        </div>
    </div>
    <div class="description">
        <div>Description </div>
        {{data.item_detail.overview}}
    </div>
    <div class="Share">
        <div>Share </div>
        <div>
            <a class="share-button-twitter" href="https://twitter.com/intent/tweet?text={{twitterShareText}}"
                target="_blank" data-size="large">
                <img src="../../../assets/img/twitter-icon.png">
            </a>

            <a class="share-button-fb" href="https://www.facebook.com/sharer/sharer.php?u={{data.youtube_video.url}}"
                target="_blank">
                <img src="../../../assets/img/facebook-icon.png">
            </a>
        </div>
    </div>
    <div class="casts">
        <div>Full Cast and Crew</div>
        <div>
            <div class="d-flex flex-row flex-nowrap overflow-auto pl-2">
                <div *ngFor="let cast of casts;" class="col-2 card px-0 mx-2 my-2" style="color:black;">
                    <div class="card-header p-0">
                        <div class="aspect-ratio aspect-ratio--3x4 person_img_placeholder" style="width: 100%">
                            <img class="aspect-ratio--object" src="{{cast.profile_path}}">
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">{{cast.name}}</h6>
                        <h6 class="card-title">AS</h6>
                        <p class="card-text">{{cast.character}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div>
            <span>Reviews </span>
            <span style="font-weight: bold;">{{reviews.length}}</span>
        </div>
        <div *ngFor="let review of reviews;" class="card px-0 mx-2 my-2" style="color:black;">
            <div class="row" style="width: 100%;">
                <div class="col-2">
                    <div class="ratio ratio-1x1" style="width: 80%">
                        <div *ngIf="review.avatar_path==null" class="reivew_ava_img_placeholder"></div>
                        <img
                            src="{{review.avatar_path}}">
                    </div>
                </div>
                <div class="col-10">
                    <div>
                        <h6 class="card-title">
                            A review created by {{review.author}}
                            <button type="button" 
                                    style="background-color: black; 
                                            color: white; 
                                            border-radius: 20px;
                                            border-color: black;">
                                &#9733; {{review.rating}}
                            </button>
                        </h6>
                    </div>
                    <div>
                        Written by {{review.author}} on {{review.create_at|date:"medium"}}
                    </div> 
                    <div class="three-line-limited-content">
                        {{review.content}}
                    </div>    
                    <div>
                        <a href="{{review.url}}" target="_blank"
                            style="color: blue; text-decoration: underline;">
                            Read the rest
                        </a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    
    {{data|json}}
</div>