@media (max-width: 777px) {
    .font-l1{
        font-size: 18vw;
    } 
    .font-l2{
        font-size: 15vw;
    } 
    .font-l3{
        font-size: 12vw;
    } 
    .font-l4{
        font-size: 10vw;
    } 
    .font-l5{
        font-size: 4.5vw;
    } 
    .font-l6{
        font-size: 3.75vw;
    } 
    body{
        font-size: 3.75vw;
    }
    .font-l7{
        font-size: 3.6vw;
    } 
    .font-l8{
        font-size: 3vw;
    } 
}

@media (min-width: 777px) {
    .font-l1{
        font-size: 6vw;
    } 
    .font-l2{
        font-size: 5vw;
    } 
    .font-l3{
        font-size: 3vw;
    } 
    .font-l4{
        font-size: 2vw;
    } 
    .font-l5{
        font-size: 1.5vw;
    } 
    .font-l6{
        font-size: 1.25vw;
    } 
    body{
        font-size: 1.25vw;
    }
    .font-l7{
        font-size: 1.2vw;
    } 
    .font-l8{
        font-size: 1vw;
    } 
}

@media (max-width: 777px) {
    ::-webkit-scrollbar {
        display: none;
    }
}